language: go

go:
  - 1.4.1

matrix:
  fast_finish: true

before_install:
  - go get golang.org/x/tools/cmd/vet
  - go get golang.org/x/tools/cmd/cover
  - go get github.com/golang/lint/golint
  - go get github.com/mattn/goveralls
  - go get github.com/modocache/gover

script:
  - sudo bash test.sh
