language: go

go:
  - 1.4.1

matrix:
  fast_finish: true

# Only build pushes to the master branch (and PRs)
branches:
  only:
    - master

before_install:
  - go get golang.org/x/tools/cmd/vet
  - go get golang.org/x/tools/cmd/cover
  - go get github.com/golang/lint/golint
  - go get github.com/mattn/goveralls
  - go get github.com/modocache/gover
  - npm install

script:
  - make -j4 # Travis has 2 cores per build instance
  - bash test.sh
