<!doctype html>
<html dir="ltr" lang="en-US">
    <header>
        <title>Self-Service Frontend</title>
        {{ template "meta" }}
    </header>
    <body>
    <div>
    <p>This is an <a href="https://tools.ietf.org/html/rfc8555">ACME</a> Certificate
    Authority running <a href="https://github.com/letsencrypt/boulder">Boulder</a>.
    However, this is not an <a href="https://tools.ietf.org/html/rfc8555">ACME</a>
    endpoint. The <a href="https://letsencrypt.org/getting-started/">directory</a>
    is in another castle!</p>
    </div>
</body>

{{template "footer"}}
