<!doctype html>
<html dir="ltr" lang="en-US">
    <header>
        <title>Unpause - Self-Service Frontend</title>
        {{ template "meta" }}
    </header>
    <body>
    <div>
    <h1>Invalid Request To Unpause Account</h1>
    <p>        
        Your unpause request was invalid meaning that we could not find all of
        the data required in the URL. Please verify you copied the log line from
        your client correctly. You may visit our <a
        href="https://community.letsencrypt.org">community forum</a> and request
        assistance if the problem persists.
    </p>
    </div>
</body>

{{template "footer"}}
