{{template "header"}}
<div class="section">
    <h1>Override Request Successfully Approved and Applied</h1>
    You will <b>not</b> receive an email notification regarding this approval.
    <br>
    We have approved your request and applied the override to your account.
    Please allow up to 30 minutes for this change to take effect.
    <br>
    <h2>Need to make another request?</h2>
    Please visit our <a href="https://letsencrypt.org/docs/rate-limits/">rate
    limits documentation</a> to submit another request.
</div>
{{template "footer"}}
