{{template "header"}}
<div class="section">
    <h1>Override Request Successfully Submitted</h1>
    We will review your request and get back to you as soon as possible.
    Requests usually take 7-10 business days to process, but may take longer
    depending on the volume and complexity of requests under review.
    <br>
    <h2>Need to make another request?</h2>
    Please visit our <a href="https://letsencrypt.org/docs/rate-limits/">rate
    limits documentation</a> to submit another request.
</div>
{{template "footer"}}
