# Build the Boulder Debian package on every PR, push to main, and tag push. On
# tag pushes, additionally create a GitHub release and with the resulting Debian
# package.
name: Build release
on:
  push:
    tags:
      - release-*
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  build-release:
    runs-on: ubuntu-20.04
    permissions:
      contents: read
    steps:
      - uses: actions/checkout@v2
        with:
          persist-credentials: false

      - name: build deb
        run: ./tools/make-deb.sh

      - name: upload deb
        uses: actions/upload-artifact@v3
        with:
          name: boulder deb
          path: boulder.deb

  push-release:
    if: github.event_name == 'push' && contains(github.ref, 'refs/tags/')
    needs: build-release
    runs-on: ubuntu-20.04
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v2
        with:
          persist-credentials: false

      - name: Download release artifact
        uses: actions/download-artifact@v3
        with:
          name: boulder deb
      - name: rename
        run: mv boulder.deb boulder-1.0.0-$(git rev-parse --short HEAD).x86_64.deb
      - name: push release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        # https://cli.github.com/manual/gh_release_create
        run: gh release create "${GITHUB_REF_NAME}" boulder-1.0.0-$(git rev-parse --short HEAD).x86_64.deb
